body{

    background-image:url(https://st2.depositphotos.com/2515395/6302/i/600/depositphotos_63024611-stock-photo-barbecue-fire-grill.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    font-size:x-large;

}

div{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Box{
    background-color:rgba(240, 255, 255, 0.8)
}

h1{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }