body {
    background-color: #D4CCC5;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 24px;
    background-color: #CDB7A5;
    padding: 10px;
    margin-top: 20px;
    color: white;
  }
  
  section {
    padding: 20px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    width: calc(16.66% - 20px);
    background-color: #CDB7A5;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
  }
  
  footer {
    background-color: #CDB7A5;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
